<ion-view view-title="Raffle Sign Up">
  <ion-content>
  <div ng-show="pageState == 'first'">
    <form ng-submit="nextPage()">
      <div class="list card">
	  <div class="item item-divider">
		Ticket Holder Information
		</div>
        <label class="item item-input">
          <input type="text" ng-model="participantInfo.name" placeholder="Full Name *">
        </label>
		<label class="item item-input">
          <input type="text" ng-model="participantInfo.phone" placeholder="Phone Number *">
        </label>
		<label class="item item-input">
          <input type="text" ng-model="participantInfo.email" placeholder="Email *">
        </label>
		<div class="item item-divider">
			Address
		</div>
		<label class="item item-input item-stacked-label">
          <input type="text" ng-model="participantInfo.street" placeholder="Street">
        </label>
		<label class="item item-input">
          <input type="text" ng-model="participantInfo.city" placeholder="City">
		</label>
		<label class="item item-input">
		  <input type="text" ng-model="participantInfo.state" placeholder="State">
		</label>
		<label class="item item-input">
		  <input type="text" ng-model="participantInfo.zip" placeholder="Zip Code">
        </label>
		<label class="item item-input">
          <input type="text" ng-model="participantInfo.numberOfTickets" placeholder="Number Of Tickets *">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Next</button>
        </label>
      </div>
    </form>
	</div>
	<div ng-show="pageState == 'second'">
	<button ng-click="back()" class="button button-stable">
		Back
	</button>

    <form ng-submit="review()">
      <div class="list card">
	  <div class="item item-divider">
		Ticket Holder Information
		</div>
		<label ng-repeat="ticket in participantInfo.tickets track by $index" class="item item-input">
          <input type="text" ng-model="participantInfo.tickets[$index]" placeholder="Ticket">
        </label>
		<div class="item">
			Total Due: ${{participantInfo.totalDue}}.00
		</div>
		<div class="item item-divider">
			Payment Type
		</div>
		<label class="item item-checkbox">
          <label class="checkbox">
			<input type="checkbox" ng-model="participantInfo.cash">
		  </label>
			<span class="payment-label">
			Cash
			</span>
			<i class="icon form-icons ion-cash"></i>
        </label>
		<label class="item item-checkbox">
          <label class="checkbox">
			<input type="checkbox" ng-model="participantInfo.card">
		  </label>
		  <span class="payment-label">
			Card
			</span>
			<i class="icon form-icons ion-card"></i>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Review</button>
        </label>
      </div>
    </form>
	</div>
	<div ng-show="pageState == 'third'">
	<div class="card">
		  <div class="item text-center item-divider">
			Sale Summary
		  </div>
		  <div class="item">
			Name: {{participantInfo.name}}
		  </div>
		  <div class="item">
			Phone: {{participantInfo.phone}}
		  </div>
		  <div class="item">
			Email: {{participantInfo.email}}
		  </div>
		  <div class="item">
			Address: {{participantInfo.street}} {{participantInfo.city}} {{participantInfo.state}} {{participantInfo.zip}}
		  </div>
		  <div class="item">
			Number Of Tickets: {{participantInfo.numberOfTickets}}
		  </div>
		  <div  ng-repeat="ticket in participantInfo.tickets track by $index"  class="item">
			Ticket: {{ticket}}
		  </div>
		  <div class="item">
			Total Due: ${{participantInfo.totalDue}}.00
		</div>
		<div class="item">
			Paid with: <span ng-if="participantInfo.card">Card</span><span ng-if="participantInfo.cash">Cash</span>
		</div>
		
	<label class="item">
	<button class="button button-block button-positive" ng-click="back()">Back</button>
	</label>
	<label class="item">
	<button ng-click="finish()" class="button button-full button-positive">
			Complete Payment
		</button>
		</label>
	</div>
	</div>
	<div ng-show="pageState == 'final'">
		Thank you {{participantInfo.name}} for your purchase of {{participantInfo.numberOfTickets}} raffle tickets.
		<button ng-click="startOver()" class="button button-full button-positive">
			New Sale
		</button>
	</div>
  </ion-content>
</ion-view>