<ion-pane>
<ion-header-bar class="bar-stable">
		 <a ng-click="goBack()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
		<h1 class="title">Sale Summary</h1>
      </ion-header-bar>
	  <ion-content class="background">
	  <div class="card">
		  <div class="item">
			Name: {{participant.name}}
		  </div>
		  <div class="item">
			Phone: {{participant.phone | tel}}
		  </div>
		  <div class="item">
			Email: {{participant.email}}
		  </div>
		  <div class="item">
			Address: {{participant.street}} {{participant.city}} {{participant.state}} {{participant.zip}}
		  </div>
		  <div class="item">
			Number Of Tickets: {{participant.numberOfTickets}}
		  </div>
		  <div  ng-repeat="ticket in participant.tickets track by $index"  class="item">
			Ticket: {{ticket.raffleNumber}}
		  </div>
		  <div class="item">
			Total Due: ${{participant.totalPaid}}.00
		</div>
		<div class="item">
			Paid with: <span ng-if="participant.card">Card</span><span ng-if="participant.cash">Cash</span><span ng-if="participant.check">Check #{{participant.checkNum}}</span>
		</div>
	<label class="item">
	<button ng-click="finish()" class="button button-full button-positive">
			Complete Payment
		</button>
		</label>
	</div>
	  </ion-content>
	  <div class="tabs tabs-icon-only">
  <a class="tab-item" href="#/holder">
    <i class="icon ion-edit"></i>
  </a>
  <a class="tab-item" href="#/all">
    <i class="icon ion-navicon-round"></i>
  </a>
  <a class="tab-item" href="#/login">
    <i class="icon ion-home" ></i>
  </a>
 <a class="tab-item" href="#/upload">
	<i class="icon ion-android-upload" ></i>
  </a>
</div>
</ion-pane>