<ion-pane class="login">

	<div ng-show="error" class="card error-homepage">
		<div class="item item-text-wrap errorText">
			{{error}}
		</div>
		</div>

	  <div class="content-full">
	  <div class="row row-top logo-header">
	 <img src="img/logoShadow.png" class="logo" >
	 </div>
	 <div class="row row-center ">
	 <div class="col">
	  <img src="img/name3.png" class="logo-comp-names" >
      </div>
	  </div>
	  <div>
	</div>
	<div class="footer-container">
		<div class="login-panel">
			<div class="card card-style background">
			<div class="row row-center">
			<div class="col">
				<i class="icon ion-android-person"></i>
			</div>
			<div class="col col-20">
				<span class="sign-in-text">Name</span>
			</div>
			<div class="col col-75">
				<input class="signin-field background" type="" ng-model="login.salesRep"/>
			</div>
			<div>
			</div>
			
			</div>
		</div>
		<div class="card card-style background">
				 <label class="item-select background">
					 <div class="row row-center">
						<div class="col">
							<i class="icon ion-location"></i>
						</div>
						<div class="col col-20 sign-in-text-loc">
							Location
						</div>
						<div class="col col-67 ">
							<select ng-model="selectedValue" class="select-text">
								<option>{{selectedValue}}</option>
								<option ng-repeat="loc in locations">{{loc}}</option>
							</select>
						</div>
						<div class="col">
							<i class="icon ion-arrow-down-b"></i>
						</div>
					 </div>
				  </label>
				  </div>
				  
				  
					<button ng-click="loginAction()" class="button button-block button-positive" type="submit">Begin Session</button>
				

	</div>
</ion-pane>