<ion-pane class="login">

	<div ng-show="error" class="card error-homepage">
		<div class="item item-text-wrap errorText">
			{{error}}
		</div>
		</div>

	  <div class="content-full">
	  <div class="row row-top logo-header">
	 
	 </div>
	 <div class="row row-center ">
	 <div class="col">
	  <img src="img/DD_base.png" class="logo" >
	  <img src="img/title2.png" class="logo-name" >
		<img src="img/supporters2.png" class="logo-comp-names" >
      </div>
	  </div>
	  <div>
	</div>
	<div class="footer-container">
		<div class="login-panel">
			<div class="card card-style background">
			<div class="row row-center">
			<div class="col">
				<i class="icon ion-android-person"></i>
			</div>
			<div class="col col-20">
				<span class="sign-in-text">Name</span>
			</div>
			<div class="col col-75">
				<input class="signin-field background" type="" ng-model="login.salesRep"/>
			</div>
			<div>
			</div>
			
			</div>
		</div>
				 
				<fancy-select
                              header-text="Locations"
                              allow-empty='false'
                              value="selectedValue"
                              text="selectedValue"
                              items="locations">
                </fancy-select>
					<button ng-click="loginAction()" class="button button-block button-positive" type="submit">Begin Session</button>
				

	</div>
</ion-pane>


         