<ion-pane>
<ion-header-bar class="bar-stable">
		
		<h1 class="title">{{participant.name}} : {{participant.date}}</h1>
      </ion-header-bar>
	  <ion-content class="background">
    <div class="card">
		  <div class="item">
			Date: {{participant.date}}
		  </div>
		  <div class="item">
			Name: {{participant.name}}
		  </div>
		  <div class="item">
			Phone: {{participant.phone | tel}}
		  </div>
		  <div class="item">
			Email: {{participant.email}}
		  </div>
		  <div class="item">
			Address: {{participant.address}}
		  </div>
		  <div class="item">
			Number Of Tickets: {{participant.numberOfTickets}}
		  </div>
		  <div class="item">
			Total Due: ${{participant.totalPaid}}.00
		</div>
		</div>
		
		<div class="card">
		  <div class="item" ng-repeat="ticket in tickets">
			Ticket Number: {{ticket}}
		  </div>
		</div>
		
		<div class="card">
		  <div class="item">
			Sales Rep: {{ses.login.salesRep}}
		  </div>
		  <div class="item">
			Location: {{ses.login.location}}
		  </div>
		</div>
		
  </ion-content>
  <div class="tabs tabs-icon-only">
  <a class="tab-item" href="#/holder">
    <i class="icon ion-edit"></i>
  </a>
  <a class="tab-item" href="#/all">
    <i class="icon ion-navicon-round"></i>
  </a>
  <a class="tab-item" href="#/login">
    <i class="icon ion-home" ></i>
  </a>
  <a class="tab-item" href="#/upload">
	<i class="icon ion-android-upload" ></i>
  </a>
</div>
</ion-pane>