<ion-pane class="login">

	  <div class="content-full">
	  <div class="row row-top logo-header">
	 
	 </div>
	 <div class="row row-center ">
	 <div class="col">
	  <img src="img/DD_base.png" class="logo" >
	  <img src="img/title2.png" class="logo-name" >
		<img src="img/supporters2.png" class="logo-comp-names" >
      </div>
	  </div>
		<div class="row">
			<div class="col">
				<div class="center">
					<ion-spinner icon="crescent"></ion-spinner>
				</div>
			  </div>
		  </div>
		  <div class="row">
			<div class="col">
				<div class="center">
					<span>{{syncTexts}}</span>
				</div>
				
			  </div>
		  </div>
	  </div>
	
</ion-pane>