<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.raffle669311" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Raffle</name>
    <platform name="android">
        <icon src="icon.png" />
    </platform>
    <platform name="ios">
        <icon src="icon.png" />
    </platform>
    <description>
        Raffle app used to track raffle sales with derricks and diamonds
    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="android-minSdkVersion" value="14" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-sqlite-storage" spec="https://github.com/brodysoft/Cordova-SQLitePlugin.git" />
    <plugin name="me.rahul.plugins.sqlDB" spec="https://github.com/an-rahulpandey/cordova-plugin-dbcopy.git" />
    <plugin name="org.apache.cordova.network-information" spec="~0.2.15" />
</widget>
